body {
    background: #3ABDFF;
    background: -moz-linear-gradient(-45deg, #3ABDFF 0%, #1E93FF 38%, #FFFEFC 100%);
    background: -webkit-linear-gradient(-45deg, #3ABDFF 0%, #1E93FF 38%, #FFFEFC 100%);
    background: linear-gradient(135deg, #3ABDFF 0%, #1E93FF 38%, #FFFEFC 100%);
}

}
.welcome-large{
    font-size: 40px;
}


.bg {
    /* The image used */
    background-image: url("../images/SandiaMountains.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/


}
.py-5 {
    margin-bottom: 0px;
}

ul.nav li a, ul.nav li a:visited {
    color: white !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: black !important;
}

ul.nav li.active a {
    color: white !important;
}
.jumbotron {
    background-color: rgb(233, 174, 174);

}
.fontDancingScript {
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
}
/*}*/
/**
* About Me Section
 */

/*
Contact Me Form
 */
.bgLightOrange {
    background-color: rgba(230,146,28,1);
}

.img-fluid {
    border: red solid;
                  }



/**
*Footer Section
*/
footer {
    text-align: center;
    color: white;
    background-color: gray;

}