p {
    text-align: center;
    font-size: 150%;
    border-style: inset;
    border-radius: 20px;
}

.center-image {
    text-align: center;
}

h1 {
    text-align: center;
    text-shadow: black 10px 10px;
    color: black;
    font-family: "Nutritionist.jpg";
    font-size: 400%;
}

img {
    border-radius: 20%;
}
